.printChamado img{
    margin-left: 12px;
    margin-top: 12px;
}

.tituloVisualizar{
    width: 100%;
    height: 50px;
    background-color: gray;
    font-size: 1.5em;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    border-bottom: 2px solid #000000;
}

.contentVisualizarInformacoes{
    width: 100%;
    min-height: 450px;
    height: auto;
    /* background-color: green; */
    overflow: auto;
    padding-left: 3%;
    padding-right: 5%;:
}

.linhaInformacoes{
    width: 100%;
    min-height: 60px;
    /* background-color: yellow; */
    margin-top: 2%;
}

.labelVisualizar{
    width: 15%;
    min-height: 60px;
    /* background-color: gray; */
    float: left;
    line-height: 60px;
    vertical-align: middle;
    text-align: justify;
    font-weight: 900;
    /* padding-left: 3%; */
}

.visualizarInformacoes{
    min-width: 23%;
    height: 60px;
    /* background-color: red; */
    float: left;
    line-height: 60px;
    vertical-align: middle;
    text-align: justify;
    /* padding-left: 3%; */
}

.dataSolcitacao{
    /* margin-top: -2vh; */
    /* background-color: blue; */
}

.nomeEmpresa{
    /* width: 45%; */
}

.visualizarTitulo{
    width: 20%;
}
.visualizarInfoTitulo{
    /* width: 70%; */
}

.linhaDescricao{
    width: 100%;
    min-height: 60px;
    height: auto;
    /* background-color: orange; */
    margin-top: 2%;
}

.labelDescricao{
    width: 15%;
    height: 60px;
    /* background-color: gray; */
    line-height: 60px;
    vertical-align: middle;
    text-align: justify;
    font-weight: 900;
    float: left;
    /* padding-left: 3%; */
}

.visualizarDescricao{
    width: 70%;
    min-height: 23px;
    height: auto;
    /* background-color: pink; */
    text-align: left;
    padding: 2%;
    padding-top: 3%;
    float: left;
    /* margin-left: 17%; */
}

.linhaStatus{
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.visualizarStatus{
    width: 20%;
}
.visualizarInfoStatus{
    text-align: justify;
    width: 45%;
}

.linhaContentObservacao{
    display: none;
    /* background-color: orange; */
}

.labelObservacao{
    width: 20%;
    height: 60px;
    /* background-color: gray; */
    line-height: 60px;
    vertical-align: middle;
    text-align: justify;
    font-weight: 900;
    float: left;
    /* padding-left: 3%; */
}

.contentObservacoes{
    width: 71%;
    min-height: 60px;
    height: auto;
    /* background-color: red; */
    padding: 2%;
    text-align: justify;
    clear: both;
}

.linhaObservacao{
    width: 100%;
    min-height: 60px;
    height: auto;
    /* background-color: #dcdcdc; */
    margin-bottom: 10px;
    margin-top: 2%;
    border-bottom: solid 2px #000000;
}

.mensagemObservacao{
    width: 100%;
    min-height: 30px;
    /* background-color: #00ff00; */
    margin-bottom: 5px;
}

.labelMensagem{
    /* background-color: white; */
    font-weight: 900;
}
