*`{
    background-color: transparent;
}`

nav{
    display: none;
}

.navbar-menu{
    display: none;
}

.navbar-toggler{
    display: none;
}

.default-layout{
    display: none;
}

.brand-logo{
    display: none;
}

.brand-logo-mini{
    display: none;
}

.navbar-brand-wrapper{
    display: none;
}

.navbar{
    display: none;
}

.opa{
    display: none;
}

.sidebar{
    display: none;
}

#imgLogo{
    display: none;
}

#imgLogoMin{
    display: none;
}

.panel-info{
    display: none;
}

footer{
    display: none;
}

.card-body{
    margin-top: -60px;
}
