#canvas-holder {
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    /* background-color: red; */
}

/* .canvasParcial {
    margin-top: 30px;
} */

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.linhaEstatistica{
    width: 30%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: orange; */
    margin-top: 5%;
}

.linhaParcial{
    margin-top: 1%;
}

.labelEstatistica{
    width: 50%;
    height: 100%;
    font-size: 15px;
    /* background-color: blue; */
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    font-weight: 900;
}

.porcentagem{
    width: 40%;
    height: 100%;
    font-size: 15px;
    /* background-color: blue; */
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    /* margin-left: 5%; */
}
